*{
    padding: 3rem;
    font-size: 23vh;


}
header{
    font-family: bold;
    color: aqua;
    background: goldenrod;
}
body{
    background: pink;
    
}
span{
    font-size: 18px;
    font-family: bold;
    color: tomato;
}
footer{
    font-size: 30px;
    font-family: italic;
    background: greenyellow;
}
footer h1{
    color: black;
    font-size: 30vh;
}